* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: 70px;
    background-color: white;
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

#button {
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 10px 15px;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
}

/* header */

.banner-list {
    height: 70px;
    line-height: 100%;
    vertical-align: middle;
    padding: 20px;
}

.banner-list a {
    padding: 20px;
    color: black;
}

.banner-list a img {
    height: 30px;
    vertical-align: middle;
}

/* fine header */

/* jumbotron */

.jumbotron {
    width: 100%;
    background-color: rgb(180, 208, 231);
    margin-bottom: 200px;
}

.content {
    width: 80%;
    margin: auto;
    padding-top: 70px;
}

.jumbotron-title {
    width: 100%;
}

.jumbotron-title h1 {
    font-weight: 800;
    font-size: 4em;
    margin-bottom: 40px;
}

.jumbotron-img {
    position: absolute;
    left: 40%;
    width: 55%;
}

.jumbotron-img img {
    height: 100%;
    width: 100%;
}

.jumbotron-text {
    width: 40%;
    padding-right: 40px;
}

.jumbotron-text p {
    margin-bottom: 30px;
    font-weight: bold;
}

.jumbotron-text a {
    margin-bottom: 30px;
    display: inline-block;
}

/* fine jumbotron */

/* css wrapper */

.wrapper h2 {
    font-size: 2em;
    font-style: bold;
    font-weight: 800;
    margin: 70px auto;
}

/* box */

.list-box {
    width: 30%;
    float: left;
    height: 1000px;
    border: 1px solid gray;
}

.title-box {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid gray;
    font-weight: bold;
}

.middle {
    margin: 0 5%;
}

.main-box {
    padding: 20px;
}

.price {
    font-size: small;
    font-weight: bold;
    margin: 15px auto;
}

.conditions {
    font-size: small;
    color: gray;
    margin-bottom: 30px;
}

.dotations ul li {
    list-style: none;
    font-weight: bold;
    margin-bottom: 20px;
}

.shop {
    margin-bottom: 50px;
}

.shop a {
    display: block;
    text-decoration: none;
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 5px;
    margin: 20px auto;
    text-align: center;
}

#buy-now{
    display: inline;
    background-color: white;
    color: rgb(0, 97, 255);
}

.features ul li {
    list-style: none;
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 20px;
}

.fa-check {
    color: rgb(0, 97, 255);
}

.footer-box {
    width: 100%;
    float: left;
    border: 1px solid gray;
    margin: 40px auto;
}

.footer-box .main-box {
    position: relative;
}

.footer-box .main-box a {
    position: absolute;
    top: 0;
    right: 20px;
    text-decoration: none;
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 5px;
    margin: 20px auto;
    text-align: center;
}

/* fine box */

/* partenrship */

.partnership-img {
    float: left;
    width: 50%;
}

.partnership-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.partnership-text {
    float: left;
    width: 50%;
    padding: 30px;
} 

.partnership-text h3, .partnership-text p {
    margin-bottom: 30px
}

.partnership-text a {
    color: black;
    text-decoration: none;
    border: black 1px solid;
    padding: 5px;
    margin: 20px auto;
    text-align: center;
}

/* fine partenrship */

/* operations */

.card {
    float: left;
    width: calc(100%/3);
    margin: 70px auto;
    padding-right: 20px;
}

.card-img {
    width: 100%;
    display: block;
    margin-bottom: 40px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text h3, .card-text p {
    margin-bottom: 30px;
}
/* fine operations */

#clients {
    display: block;
    text-decoration: underline;
    color: rgb(0, 97, 255);
    margin-bottom: 70px;
}

/* fine css wrapper */

/* sponsor */

.logo-container-left {
    position: absolute;
    width: 400px;
    height: 400px;
}

.logo-container-right {
    position: absolute;
    width: 400px;
    height: 400px;
    right: 0;
}

.sponsor-logo {
    width: 200px;
    height: 200px;
    padding: 20px;
}

.sponsor-logo img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: contain;
}

.sponsor-centre {
    width: calc(100% - 800px);
    height: 400px;
    background-color: rgb(245, 245, 245);
    position: absolute;
    left: 400px;
}

/* colori box sponsor */

.green {
    background-color: rgb(162, 211, 155);
    border: 20px solid rgb(208, 233, 205);
    position: absolute;
    top: 0;
    left: 0;
}

.bordeaux {
    background-color: rgb(97, 8, 43);
    position: absolute;
    top: 0;
    right: 0;
}

.lightblue {
    background-color: rgb(0, 97, 206);
    position: absolute;
    bottom: 0;
    left: 0;
}

.orange {
    background-color: rgb(255, 28, 28);
    position: absolute;
    bottom: 0;
    right: 0;
}

.red {
    background-color: rgb(213, 0, 31);
    position: absolute;
    top: 0;
    left: 0;
}

.sky {
    background-color: rgb(180, 208, 231);
    position: absolute;
    top: 0;
    right: 0;
}

.blue {
    background-color: rgb(13, 36, 129);
    position: absolute;
    bottom: 0;
    left: 0;
}

.yellow {
    background-color: rgb(255, 216, 48);
    position: absolute;
    bottom: 0;
    right: 0;
}

/* fine colori box sponsor */

/* fine sponsor */

/* header */
/* fine header */