* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: 70px;
    background-color: white;
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

#button {
    background-color: rgb(0, 97, 255);
    color: white;
    padding: 10px 15px;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
}

/* header */

.banner-list {
    height: 70px;
    line-height: 100%;
    vertical-align: middle;
    padding: 20px;
}

.banner-list a {
    padding: 20px;
    color: black;
}

.banner-list a img {
    height: 30px;
    vertical-align: middle;
}

/* fine header */

/* jumbotron */

.jumbotron {
    width: 100%;
    background-color: rgb(180, 208, 231);
    margin-bottom: 200px;
}

.content {
    width: 80%;
    margin: auto;
    padding-top: 70px;
}

.jumbotron-title {
    width: 100%;
}

.jumbotron-title h1 {
    font-weight: 800;
    font-size: 4em;
    margin-bottom: 40px;
}

.jumbotron-img {
    position: absolute;
    left: 40%;
    width: 55%;
}

.jumbotron-img img {
    height: 100%;
    width: 100%;
}

.jumbotron-text {
    width: 40%;
    padding-right: 40px;
}

.jumbotron-text p {
    margin-bottom: 30px;
    font-weight: bold;
}

.jumbotron-text a {
    margin-bottom: 30px;
    display: inline-block;
}

/* fine jumbotron */

/* css wrapper */

.wrapper h2 {
    font-size: 2em;
    font-style: bold;
    font-weight: 800;
    margin-bottom: 50px;
}

/* box */

.list-box {
    width: 30%;
    float: left;
    height: 1000px;
    border: 1px solid gray;
}

.title-box {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.middle {
    margin: 0 5%;
}

.main-box {
    padding: 20px;
}

.price {
    font-size: small;
    font-weight: bold;
}
/* fine box */

/* fine css wrapper */

/* header */
/* fine header */

/* header */
/* fine header */